#root, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top-ribbon-container {
  background-color: white;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 3px;
}

.play-button {
  border: none;
  background: none;
  /* height: 2px; */
}

.bottom-container {
  height:95%
}
.circuit-builder-container {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  background-color: #F7F9FB;
}

.react-resizable-panel {
  display: flex;
}

.resize-handle-vertical {
  width: 5px;
  cursor: ew-resize;
  background: #ccc;
}

.resize-handle-horizontal {
  height: 5px;
  cursor: ns-resize;
  background: #ccc;
}

.left-pane {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: #fcfcfc;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  min-width: 175px;
  max-width: 400px;
}

/* ------- RIGHT PANE (ReactFlow workspace) ------- */

.circuit-builder-container .flow-wrapper {
  flex-grow: 1;
  display: flex;
  position: relative;
  background-color: #F7F9FB;
}

.dndnode {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  border-radius: 6px;
  background-color: var(--color-surface);
  border: 1px solid var(--gray-a6);
  cursor: grab;
  transition: background-color 0.2s ease;
}

.dndnode:hover {
  background-color: var(--accent-a2);
}

.dndnode:active {
  cursor: grabbing;
}

.gate-icon {
  color: var(--accent-9);
}

.custom-node {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  background: white;
}

.tab-navigation {
  display: flex;
  border-bottom: 1px solid #e5e7eb;
}

.tab-button {
  padding: 0.5rem 1rem;
  font-weight: 500;
  color: #6b7280; /* text-gray-500 */
}

.tab-active {
  border-bottom: 2px solid #3b82f6; /* border-blue-500 */
  color: #2563eb; /* text-blue-600 */
}

.react-flow__controls {

  bottom: 5% !important;
}
